<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage, name)"
  >
    <v-snackbar :timeout="6000" multi-line top v-model="snackbar" color="error">
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex xs10 class="elevated white pa-4 align-end">
        <v-layout v-for="message in messages" :key="message.timestamp" row>
          <v-flex xs12>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label
            >
              {{ message.text }}
              {{ message.name }}
            </v-chip>

            <v-chip
              v-if="message.uuid !== uuid"
              text-color="primary"
              outlined
              color="primary"
              class="float-left"
              label
            >
              {{ message.text }}
              {{ message.name }}
            </v-chip>
          </v-flex>
        </v-layout>
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <v-text-field label="Name" v-model="name"> </v-text-field>
        <v-btn
          @click="sendMessage(currentMessage, name)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage, name)"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
import * as axios from "axios";

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false,
    name: "",
  }),

  created() {
    this.uuid = uuidv4();

    this.checkBackend();

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data);
      data.timestamp = Date.now();
      this.messages.push(data);
      console.log("messages from server", this.messages);
      console.log("DATA", data);
    };

    this.$socket.onopen = function() {
      console.log("successfully connected to the websocket server");
    };
  },
  methods: {
    sendMessage: function(text, name) {
      const message = JSON.stringify({
        text,
        name,
        uuid: this.uuid,
      });
      console.log("Message", message);
      this.$socket.send(message);
    },
    checkBackend: function() {
      axios
        .get("http://localhost:3000/health")
        .then((res) => {
          //consol.logged "res" to see what data is expected since the health check is failing in the browser
          console.log("RES", res);
          //changed res.data.ok to res.data.OK since there's no lowercase "ok" in the data that I am receiving
          if (res.status === 200 && res.data.OK === true) {
            //backend is healthy now. I know that I was supposed to fix the test and not frontend, just not sure how.
            console.log("backend is healthy");
            this.backendHealthy = true;
            return;
          } else {
            console.log(
              `backend check failed, response code was ${res.status}, data was ${res.data}`
            );
            setTimeout(() => this.checkBackend(), 10000);
          }
        })
        .catch((err) => {
          console.log(err);
          console.log("backend not healthy yet, retrying");
          setTimeout(() => this.checkBackend(), 10000);
        });
    },
  },
};
</script>
